<div class="container">
  <div class="overlay"></div>
  <div class="box">
    <div class="SB">

      <input
        type="search"
        id="site-search"
        name="q"
        placeholder="Search Via Your Emails"
      />
      <div class="searchBtnHolder">
        <button class="searchButton"><mat-icon>search</mat-icon></button>
        <select name="" id="indicator">
          <option value="sender">Subject</option>
          <option value="sender">Sender</option>
          <option value="sender">Receiver</option>
        </select>
      </div>
      <div class="sortFolderDiv">
        <div>
          <input type="checkbox" id="ImportanceCheckBox" />
          <label>Importance</label>
        </div>
        <div>
          <input type="checkbox" id="DateCheckBox" />
          <label>Date</label>
        </div>
        <button (click)="sortFolderEmails()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
    <div class="LTB">
      <div class="profile">
        <mat-icon>account_box</mat-icon>
        <p>{{ myUser.fullName }}</p>
        <p>{{ myUser.emailAddress }}</p>
        <button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <div class="compose">
        <button (click)="compose_email()">
          <mat-icon>edit</mat-icon>
          <p>Compose</p>
        </button>
      </div>
      <div class="contacts">
        <button (click)="ContactsInfo()">
          <mat-icon>perm_identity</mat-icon>
          <p>Contacts</p>
        </button>
      </div>
      <div class="inbox">
        <button (click)="selectFolder(0)">
          <mat-icon>inbox</mat-icon>
          <p>Inbox</p>
        </button>
      </div>
      <div class="sent">
        <button (click)="selectFolder(1)">
          <mat-icon>send</mat-icon>
          <p>Sent</p>
        </button>
      </div>
      <div class="trash">
        <button (click)="selectFolder(2)">
          <mat-icon>delete</mat-icon>
          <p>Trash</p>
        </button>
      </div>
      <div class="starred">
        <button (click)="selectFolder(3)">
          <mat-icon>star</mat-icon>
          <p>Starred</p>
        </button>
      </div>
      <div class="draft">
        <button (click)="selectFolder(4)">
          <mat-icon>description</mat-icon>
          <p>Drafts</p>
        </button>
      </div>
      <div id="foldersHolder"></div>
      <div class="addFolderOption">
        <button (click)="showFolderCreationPage()">
          <mat-icon> create_new_folder </mat-icon>
        </button>
      </div>
      <div id="createFolder">
        <div id="cfButtonHolder">
          Enter The Folder Name
          <input id="newFolderName" type="text" />
          <div>
            <button (click)="addFolder()">Add</button>
            <button (click)="cancelAdding()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="board">
      <div class="optionBar">
        <div class="refreshBtn">
          <button (click)="refreshMailBox()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div class="folderName">
          <mat-icon>folder</mat-icon>: {{ selectedFolder.name }} -
          {{ selectedEmail.subject }}
        </div>
        <div class="deleteFolderDiv">
          <button (click)="deleteFolder()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="emails" id="emailsHolder"></div>
      <div class="emailContent" id="content"></div>
      <div id="movingEmailDiv">
        <div id="mButtonHolder">
          Choose The Folder
          <select name="" id="newFolder">
            <option value="">Choose</option>
          </select>
          <div>
            <button id="movingEmailButton">Move</button>
            <button (click)="cancelMoving()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Designed & Implemented By:</p>
      <p>
        <span>Mariam Aziz </span>, <span>Maria Bassem</span>,
        <span>Eman Samir</span>, <span>George Beshay</span>.
      </p>
    </div>
  </div>
</div>
