<div class="container">
  <div class="overlay"></div>
  <div class="box">
    <div class="singInBox">
      <p>Already Have An Account ? Sign in Now!</p>
      <!-- -------- Separator -------- -->
      <div class="email Field">
        <label for="email">Email Address:</label>
        <input
          type="email"
          id="email"
          name="email-address"
          placeholder="Enter a Valid Email Address"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="password Field">
        <label for="email">Password:</label>
        <input
          type="password"
          id="pw"
          name="email-password"
          placeholder="Enter Your Account Password"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="buttonHolder">
        <button (click)="signIn()">SIGN IN</button>
      </div>
      <!-- -------- Separator -------- -->
    </div>
    <div class="signUpBox">
      <p>New User ? Create Your Account!</p>
      <!-- -------- Separator -------- -->
      <!-- <div class="email Field">
        <label for="email">New Email Address:</label>
        <input
          type="email"
          id="newEmail"
          name="new-email-address"
          placeholder="Enter a Valid Email Address"
        />
      </div> -->
      <!-- -------- Separator -------- -->
      <!-- <div class="password Field">
        <label for="email">New Password:</label>
        <input
          type="password"
          id="newPw"
          name="email-password"
          placeholder="Enter a Valid Password"
        />
      </div> -->
      <!-- -------- Separator -------- -->
      <div class="buttonHolder signUp">
        <button (click)="signUp()">SIGN UP</button>
      </div>
      <!-- -------- Separator -------- -->
    </div>
  </div>
  <div class="quote">
    <div class="container2">
      <q
        >Connection is why we're here: it is what gives purpose and meaning to
        our lives.</q
      >
      <p>Brene Brown</p>
    </div>
  </div>
  <div class="footer">
    <p>Designed & Implemented By:</p>
    <p>
      <span>Mariam Aziz,</span> <span>Maria Bassem,</span>
      <span>Eman Samir,</span> <span>George Beshay.</span>
    </p>
  </div>
</div>
