<div class="Container">
    <div class="Overlay"></div>
    <div class="Box">
      <div class="sb">
        <input
          type="search"
          id="site-search"
          name="q"
          placeholder="Search Via Your Emails"
        />
        <div class="SearchBtnHolder">
          <button class="searchButton"><mat-icon>search</mat-icon></button>
        </div>
        <div class="sort">Sort</div>
      </div>
      <div class="ltb">
        
        <div class="Add">
          <button (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            <p>Back</p>
        </button>
          <button (click)="createContact()">
            <mat-icon>add</mat-icon>
            <p>Create Contact</p>
          </button>
        </div>
      </div>
      <div class="view" id="contactsViewId"></div>
      <div class="contactDetails" id="contactDetailsId"></div>
      
      
      <div class="footer">
        <p>Designed & Implemented By:</p>
        <p>
          <span>Mariam Aziz </span>, <span>Maria Bassem</span>,
          <span>Eman Samir</span>, <span>George Beshay</span>.
        </p>
      </div>
    </div>
  </div>
  