<div class="registerationContainer">
  <div class="overlay"></div>
  <div class="registerationBox">
    <div class="singInBox">
      <p>Registeration Form</p>
      <!-- -------- Separator -------- -->
      <div class="email Field">
        <label for="email">Email Address:</label>
        <input
          type="email"
          id="email"
          name="email-address"
          placeholder="Enter a Valid Email Address"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="password Field">
        <label for="pw">Password:</label>
        <input
          type="password"
          id="pw"
          name="email-password"
          placeholder="Enter An Account Password"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="confirmPassword Field">
        <label for="pw">Confirm Password:</label>
        <input
          type="password"
          id="cpw"
          name="email-password-confirm"
          placeholder="Confirm Your Account Password"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="fullName Field">
        <label for="fName">Full Name:</label>
        <input
          type="text"
          id="fName"
          name="full-name"
          placeholder="Enter Your Full Name"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="birthDate Field">
        <label for="bd">Birth Date:</label>
        <input
          type="date"
          id="bd"
          name="bd"
          placeholder="Enter Your Birth Date"
        />
      </div>
      <!-- -------- Separator -------- -->
      <div class="buttonHolder">
        <button (click)="register()">Register Me</button>
      </div>
      <!-- -------- Separator -------- -->
    </div>
  </div>
  <div class="quote">
    <div class="container2">
      The first step to CONNECT and join the community.
    </div>
  </div>
  <div class="footer">
    <p>Designed & Implemented By:</p>
    <p>
      <span>Mariam Aziz,</span> <span>Maria Bassem,</span>
      <span>Eman Samir,</span> <span>George Beshay.</span>
    </p>
  </div>
</div>
